/* all rules are in class 'cpt-auto-menu-wrapper' to avoid conflicts */

.cpt-auto-menu-wrapper {
  padding: 20px;
}

.cpt-auto-menu-wrapper .cpt-heading {
    display: inline;
    padding-right: 20px;
}

.cpt-auto-menu-wrapper .nav-tab {
    padding: 5px 20px 5px 20px;
}

.cpt-auto-menu-wrapper td, select.menu_name, select.parent_name {
    margin-bottom: 1em;
}